<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BusBookingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.busticketbooking.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAndLogout</display-name>
    <servlet-name>LoginAndLogout</servlet-name>
    <servlet-class>com.busticketbooking.servlet.LoginAndLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAndLogout</servlet-name>
    <url-pattern>/LoginAndLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordSendEmail</display-name>
    <servlet-name>ForgotPasswordSendEmail</servlet-name>
    <servlet-class>com.busticketbooking.servlet.ForgotPasswordSendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordSendEmail</servlet-name>
    <url-pattern>/ForgotPasswordSendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBusDetails</display-name>
    <servlet-name>AddBusDetails</servlet-name>
    <servlet-class>com.busticketbooking.servlet.AddBusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusDetails</servlet-name>
    <url-pattern>/AddBusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBusesReport</display-name>
    <servlet-name>ViewBusesReport</servlet-name>
    <servlet-class>com.busticketbooking.servlet.ViewBusesReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBusesReport</servlet-name>
    <url-pattern>/ViewBusesReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBusDetails</display-name>
    <servlet-name>EditBusDetails</servlet-name>
    <servlet-class>com.busticketbooking.servlet.EditBusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBusDetails</servlet-name>
    <url-pattern>/EditBusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBusDetails</display-name>
    <servlet-name>UpdateBusDetails</servlet-name>
    <servlet-class>com.busticketbooking.servlet.UpdateBusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBusDetails</servlet-name>
    <url-pattern>/UpdateBusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBus</display-name>
    <servlet-name>DeleteBus</servlet-name>
    <servlet-class>com.busticketbooking.servlet.DeleteBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBus</servlet-name>
    <url-pattern>/DeleteBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBus</display-name>
    <servlet-name>SearchBus</servlet-name>
    <servlet-class>com.busticketbooking.servlet.SearchBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBus</servlet-name>
    <url-pattern>/SearchBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookBusDetails</display-name>
    <servlet-name>BookBusDetails</servlet-name>
    <servlet-class>com.busticketbooking.servlet.BookBusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookBusDetails</servlet-name>
    <url-pattern>/BookBusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBooking</display-name>
    <servlet-name>MyBooking</servlet-name>
    <servlet-class>com.busticketbooking.servlet.MyBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBooking</servlet-name>
    <url-pattern>/MyBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllBookings</display-name>
    <servlet-name>ViewAllBookings</servlet-name>
    <servlet-class>com.busticketbooking.servlet.ViewAllBookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllBookings</servlet-name>
    <url-pattern>/ViewAllBookings</url-pattern>
  </servlet-mapping>
</web-app>